[Desktop Entry]
Name=runwinform
Comment= Chay root desktop
Exec= lxterminal --command "sudo mono /home/pi/Cutting_Sheet_App/Debug/Cut_Sheet.exe --debug"
Icon=/usr/share/pixmaps/dillo.xpm
Type=Application
Encoding=UTF-8
Terminal=false
Categories=None;