<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<!-- Thêm phần này để lưu dữ liệu -->
	<appSettings>
		<add key="Station" value="Station: PPG-01" />
		<add key="PlcIp" value="192.168.1.220" />
		<add key="PlcPort" value="502" />
	</appSettings>
</configuration>